* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: black;
  padding: 20px 40px;
}

.header-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

/* box */

.box-wrapper {
  padding: 40px 20px;
}

.box {
  border: 1px solid grey;
  margin: 0 auto;
  max-width: 900px;
  padding: 40px;
}

.box-title {
  font-size: 30px;
}

.input-wrapper {
  height: 40px;
  display: flex;
  margin: 20px 0;
}

#input {
  width: 300px;
  border-radius: 0;
  border: 1px solid grey;
  padding-left: 20px;
  font-size: 24px;
}

#button {
  padding: 0 20px;
  background-color: black;
  border-radius: 0;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

#button:hover {
  opacity: 0.6;
}

#error {
  color: red;
}

.items-wrapper {
  border: 1px solid grey;
  list-style: none;
}

.item {
  padding: 20px;
  font-size: 30px;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
}

.item:hover {
  background-color: rgb(182, 181, 181);
}

.item:last-child {
  border-bottom: none;
}

@keyframes newItem {
  from {
    background-color: rgb(63, 62, 62);
  }

  to {
    background-color: #fff;
  }

}

.new-item {
  animation: newItem;
  animation-duration: 1s;
  font-size: 30px;
  padding: 20px;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
}

.new-item:last-child{
  border-bottom: none;
}

.new-item:hover{
  background-color: rgb( 182, 181, 181);
}